.compactcard{
    height: 17rem!important;
    width: 13rem;
    border-radius: 20px;
    box-shadow: none;
    border: var(--cardB);
    color: var(--blueA);
    display: flex;
    cursor: pointer;
    gap: 2rem;
    padding: 1rem;
    background:var(--cardA);
    justify-content: center;
}

.compactcard:hover{
    box-shadow:  var(--compactCardA);
    -webkit-backdrop-filter: blur(20px);
    border: var(--compactCardB);
    background: var(--compactCardC);
}

.compactcard .profile{
   display: flex;
 }

 #dark .compactcard{
     background-color: rgb(80, 76, 76);
 }

 #dark .details{
     color: whitesmoke;
 }

 #dark .details #designation{
    background: linear-gradient(270deg, rgb(196, 194, 206),rgb(99, 100, 102));
 }

 #dark .ExpandedCard {
    background-color: #645f63ee ;
 }

 #dark .ExpandedCard .employee-details{
    color: whitesmoke;
 }

 
.compactcard .profile img{
    width: 80px;
    height: 80px;
    margin-left: 30%;
    margin-top:-5%;
}

.compactcard .profile  .details{
    position: relative;
    top: 35%;
    left: -50%;
    text-align: center; 
    height: 10px;
}

.compactcard .profile  .details #name{
position: relative;
top: -5%;
font-weight: 700;
font-size: 20px;
}

.compactcard .profile .details  #designation{
    background: var(--compactCardD);
    position: relative;
    padding: 10px 8px;
    border-radius: 15px;
    font-weight: 600;
    left: 5%;
}

.compactcard .profile .details  #designation:hover{
    background: var(--compactCardH);
}

.compactcard .profile .details  #mobilenumber{
    padding: 10px 8px;  
}

.compactcard .profile .details  #email{
    left: 9px;
    padding: 10px 8px;
    position: relative;
    top: -122%;
}



.ExpandedCard{
    position: relative;
    width: 62%;
    height: 75%;
    z-index:9;
    top: 20%;
    left: 13rem;
    border-radius: 1rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1rem;
    position: fixed;    
    /* overflow: scroll; */
    background: white;
}

.ExpandedCard::-webkit-scrollbar{
    display: none;
}

.ExpandedCard .close-btn{
    color: var( --expandedCard);
    position: sticky;
    left: 95%;
    cursor: pointer;
}

.ExpandedCard .Complete_Employee_details{
    display: flex;
    width: 70rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.ExpandedCard .Complete_Employee_details .profile-image{
    background: transparent;
    width: 40%;
    height: 250px;
    align-self: center;
    margin-left: 1%;     
}

.ExpandedCard .Complete_Employee_details .profile-image img{
   width: 100%;
   height: 100%;  
}

.ExpandedCard .Complete_Employee_details .employee-details{
    width: 70%;
    height: 100%;
    margin-left: 10%; 
    overflow: auto;
    text-align: justify;   
}
.ExpandedCard .Complete_Employee_details .employee-details::-webkit-scrollbar{
    display: none;
}

.ExpandedCard .Complete_Employee_details .employee-details h6{
    padding-top: 10px;
    font-size: 15px;
}

@media screen and (max-width: 900px) {
    .ExpandedCard{
    width: 67%;
    height: 51%;
    z-index: 9;
    top: 38%;
    left: 7rem;
    }

    .ExpandedCard .Complete_Employee_details .profile-image{
      width: 40%;
    }
    .ExpandedCard .Complete_Employee_details{   
        display: flex;
        flex-direction: column;
        margin-top: 7%;
    }
    .ExpandedCard .Complete_Employee_details .employee-details{
        width: 100%;
        margin-left: 0;
        text-align: center;

      }
    
  }

  @media screen and (max-width: 700px) {
    .ExpandedCard{
    width: 86%;
    height: 75%;
    z-index: 9;
    top: 17%;
    left: 1rem;
    }

    .ExpandedCard .Complete_Employee_details .profile-image{
        width: 74%
    }
 
    .ExpandedCard .Complete_Employee_details .employee-details{
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  }
