.sub-employee-details{
    width: 100vw;
    background: var(--whiteB);
    height: auto;
    margin-top: 5%;  
}

.sub-employee-details .upper-container{
width: 100%;
height: auto;
color: var(--aliceblue);
border-radius: 10px;
background: var(--lightPurple);
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-flow: wrap;
align-content: flex-start;
}

.sub-employee-details .upper-container .searchbar {
    width: 230px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: transparent;
}

#dark .upper-container{
    background-color: rgb(80, 76, 76);
}

#dark .sub-employee-details{
    background-color: #201f22;
}

.upper-container .searchbar .search-box{
    width: 100%;
    max-width: 700px;
    background: #f9f9fc;
    display: flex;
    align-items: center;
    border-radius:10px;
    padding: 1px 2px;
    backdrop-filter: blur(4px) saturate(180%); 
}

.upper-container .searchbar .search-box input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 2px 10px;
    font-size: 15px;
    font-weight: 600;
    color: #1c01b3a4;
}

::placeholder{
    color: #1c01b3a4;
}

.upper-container .searchbar .search-box button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.upper-container .searchbar .search-box button img{
    width: 23px;
}


.sub-employee-details .upper-container  .skills-dropdown{

    width: 150px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.sub-employee-details .upper-container  .project-dropdown{

    width: 150px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.sub-employee-details .upper-container  .skills-dropdown select{
    width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 14px;
    padding: 12px 9px 8px 5px;
    background:var(--white);
}

.sub-employee-details .upper-container  .project-dropdown select{
    width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 14px;
    padding: 12px 9px 8px 5px;
    background: var(--white);
}

::webkit-project-dropdown-option{
    background: black;
}







 .sub-employee-details .lower-container{
    width: 100%;
    height: auto;    
    margin-top: 5%;
    color: var(--aliceblue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    align-content: center;
    gap:2rem;
    padding-bottom: 20px;   
    }

    @media screen and (max-width: 700px) {
        .sub-employee-details{
           
            margin-top: 156%;
            
        }
    }